@page "/"

@using PdfClown.UI.Blazor

<PageTitle>Pdf View</PageTitle>
<div>
    <lable>Page</lable> 
    <input type="number" @bind-value="pageNumber" min="1" max="@pagesCount" style="width:50px;"/>
    <lable>/</lable>
    <lable>@pagesCount</lable>
    <lable>Scale</lable>
    <input type="number" @bind-value="scaleContent" min="0.1" max="60" step="0.1" style="width:60px;"/>
    <lable>Fit</lable>
    <InputSelect @bind-Value="fitMode">
    @foreach (var value in Enum.GetValues<PdfViewFitMode>()) {
        <option value="@value">@value</option>
    }
    </InputSelect>
    
    <InputFile OnChange="OnInputFileChange">Open File</InputFile>
</div>
<PdfView @ref="pdfView" class="canvas-container"
    @bind-NewPageNumber="pageNumber"
    @bind-PagesCount:get="pagesCount"
    @bind-ScaleContent="scaleContent"
    @bind-FitMode="fitMode"/>

@code {

    PdfView pdfView = null;

    int pageNumber;
    int pagesCount;
    float scaleContent = 1F;
    PdfViewFitMode fitMode;

    private async void OnInputFileChange(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream(100 * 1024 * 1024);
        var fileStream = new MemoryStream((int)stream.Length);
        await stream.CopyToAsync(fileStream);
        fileStream.Position = 0;
        pdfView.Load(fileStream);
    }    
}
